
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/Gundu_Ashwith.css">
<title>A03 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>


<body class="container">
        <nav><ul>
                <li><a href="home">Home</a></li>
                <li><a href="code">Code</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="guestbook">GuestBook</a></li>
              
                <li class="site"><a  href="https://github.com/AshwithGundu/Ashwith.git"  ><img src="g.png" alt="a" height="20" width="20"></a></li>
                <li class="site"><a  href="  https://bitbucket.org/Ashwith_Gundu/"><img src="b.png" height="20" alt="a" width="20"></a></li>
                <li class="site"><a  href="https://www.linkedin.com/in/gundu-ashwith-96a809b9"><img src="l.png" alt="a" height="20" width="20"></a></li>
                
              </ul></nav>
              
    
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
